.App {
    text-align: center;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tool{
    font-size:15px;
  }
  img{
    border-radius: 50%;
    margin: 15px;
  }
  #img1{
    margin-top: 20px;
  }
  .lang{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    flex-wrap: wrap;
    
  }
  .bubble{
    border: 1px solid lightgrey;
    border-radius: 30%;
    width:60px;
    margin:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
  }
  .bubble1{
    background-color: dodgerblue;
    color: white;
  }
  .job{
    color: lime;
    font-weight: 600;
    font-size: 20px;
  }
  a{
    color: inherit;
  }
  .icons{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
  }
  .pro{
    border: 1px solid dodgerblue;
    border-radius: 50%;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
    margin:10px;
  }
  button{
    width: 100%;
  }
  .icon1{
    margin: 10px;
    
    font-size: 23px; 
  }
  .icon{
    font-size: 20px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-left: 80px;
  }
  .pro1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box {
    width:360px;
    height:670px;
    background: rgb(253, 251, 251);
    margin:10px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
  }
  .profile{
    padding: 10px;
    opacity: 1;
    font-size: 15px;
    margin-left:10px;
    font-weight: 600;
  }
  
  p{
    opacity: 0.6;
    margin:20px;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: 15px;
  }
  .effect8
  {
      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .effect8:before, .effect8:after
  {
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
      -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:10px;
      bottom:10px;
      left:0px;
      right:0px;
      -moz-border-radius:100px / 10px;
      border-radius:100px / 10px;
  }
  .effect8:after
  {
      right:10px;
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg);
         -moz-transform:skew(8deg) rotate(3deg);
          -ms-transform:skew(8deg) rotate(3deg);
           -o-transform:skew(8deg) rotate(3deg);
              transform:skew(8deg) rotate(3deg);
  }
  @media (max-width:700px){
    .App {
      text-align: center;
      padding:20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .box {
      width:100%;
      height:670px;
      background: rgb(253, 251, 251);
      margin:40px auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }