.members-grid{
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill,400px);
    justify-content: space-around;
}

center h1{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 50px 0 50px 0;
}