/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css end */

body{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
  overflow-y:scroll;
  -webkit-font-smoothing: antialiased;
}

::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

p{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

a:focus {
  outline:none;
}

strong{
  font-weight:700;

}

/*
**************************
PRELOADER
**************************
*/

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:white;
  z-index:999;
}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


/*
**************************
NAVIGATION OPACITY
**************************
*/



.opacity-nav{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  z-index:9999;
  background:rgba(0,0,0,0.95);
}

ul.menu-fullscreen{
  width: 100%;
  top: 50%;
  position: absolute;
  height: 280px;
  margin-top: -140px;
}

ul.menu-fullscreen li{
  font-size:35px;
  text-align:center;
  line-height:70px;
  font-weight:500;
}

ul.menu-fullscreen li > a{
  color:#474747;
  border:0;
}

ul.menu-fullscreen li > a:hover{
  color:#ffffff;
}


#full{
  width:1140px;
  position: relative;
  top:0;
  margin:0 auto;
  z-index: 9997;
}


#fullscreen{
  display:none;
  position:absolute;
  top:0;
  width:100%;
  margin:0 auto;
  height:80px;
  z-index: 9998;
}

/*
**************************
HEADER
**************************
*/

header.boxed{
  position:fixed;
  width:100%;
  margin:0 auto;
  height:80px;
  z-index:9999;
  display:block;
  background:white;
  top:0;
  -webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;   
  box-shadow: 0 1px 18px -4px #888888;
}

header.boxed .header-margin{
  max-width:1140px;
  margin:0 auto;
}

header.boxed .header-margin-mini{
  width:90%;
  margin:0 auto;
}


ul.social-icon{
  float:right;
}

ul.social-icon a{
  float:right;
  font-size:15px;
  border-bottom:0;
  color:black;
  padding-right:0px ;
}

ul.social-icon a.icon {
  display: none;
}

ul.social-icon a:hover{
  color:#c3c3c3;
}
ul.social-icon a:active{
  color:#c3c3c3;
}

li.hamberger-menu a.icon {
  display: none;
}

.menu-index{
  position: fixed;
  right: 5%;
  top: 30px;
  z-index: 99999;
  padding:20px;
  background:black;
  cursor:pointer;
}


.menu-index i{
  float:right;
  font-size:18px;
  color:white;
  padding-right:0px !important;
}

.menu-index i:hover{
  color:#c3c3c3;
}


ul.menu-icon{
  float:right;
}

ul.menu-icon a{
  float:right;
  font-size:19px;
  color:white;
  padding-right:0px !important;
}

ul.menu-icon i{
  padding:20px;
  background:black;
}

ul.menu-icon a:hover{
  color:#c3c3c3;
}

header a{
  color:#000000;
}

ul.header-nav{
  width:71%;
  float:left;
}

header .logo > img {
  float:left;
  margin-top: 10px;
}

header .logo > a{
  font-size:23px;
  font-weight:800;
  float:left;
  line-height:80px;
  padding-right:20px;
}

header .logo > a:hover{
  color:#c3c3c3;
}

header li{
  text-transform:uppercase;
  list-style-type: none; margin: 0 auto; float: left;
}

header li > a{
  font-size:13px;
  color:#474747;
  padding-right:25px;
  padding-left:25px;
  font-weight:800;
  line-height:80px;
  display:inline-block;  
  border-bottom:0;
}

header li > a:hover{
  color:#000000;
}

header li > a #active{
  color:#000000;
}

header li ul{
  overflow: hidden; display: none; background: #f9f9f9; z-index:20;
}

header li ul li a{
  line-height:50px;
  padding-left:30px; 
  width:260px;
}

header li:hover ul{
  position: absolute; padding: 0; display: block; width: 260px;
}



/*
**************************
CONTENT
**************************
*/

.hero-image{
  position:relative; 
  width:100%; 
  top:0; 
  height:400px; 
  background: url('../img/full/full.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  
}

.one-column{
  width:40%;
  position:relative;
  float:left;
}

.two-column{
  width:60%;
  position:relative;
  float:left;
}

.one-column p{
  width:70% !important;
}

.two-column p{
  width:100% !important;
}

.clear{
  clear:both;
}

.content{
  position:relative;
  width:1140px;
  margin:50px auto;
}


.content .text-intro{
  width: 1140px;
  margin-top: 150px;
  margin: 150px auto 0;
}

.content .text-intro h1{
  font-size:40px;
  /*width:40%;*/
  text-transform: uppercase;
  color:#000000;
  font-weight:900;
  line-height:50px;
}

.content .text-intro h2 {
    font-size: 33px;
    /*width: 40%;*/
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
}
.content .text-intro h3 {
    font-size: 28px;
    /*width: 40%;*/
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
}

.content .text-intro h4{
  font-size:24px;
  /*width:40%;*/
  text-transform:uppercase;
  color:#000000;
  font-weight:900;
  line-height:70px;
}
.content .text-intro h5{
  font-size:20px;
  /*width:40%;*/
  text-transform:uppercase;
  color:#000000;
  font-weight:900;
  line-height:70px;
}

.content .text-intro h6 {
    font-size: 16px;
    /*width: 40%;*/
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
}

.content .text-intro .card-heading {
    font-size: 15px;
    /*width: 40%;*/
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    line-height: 50px;
}



.content .text-intro p{
  font-size:13px;
  /*color:#8d8d8d;*/
  color:#544e4e;
  margin-top:30px;
  font-weight:400;
  line-height:22px;
  letter-spacing:1px;
  width:40%;
}

.left-heading h1{
  
    width: 1140px;
    /*margin-top: 150px;*/
    margin: 20px auto 0 100px;

  
    font-size:35px;
    /*width:40%;*/
    text-transform:uppercase;
    color:#000000;
    font-weight:800;
    line-height:70px;
  
}

        .typed-cursor{
            opacity: 1;
            font-weight: 900;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

/*
**************************
HOME SIDEBAR
**************************
*/

.home-sidebar{
  top:0;
  position:absolute;
  width:33.3333%;
  right:0;
  height:100%;
  background:#f4f4f4;
  z-index:9;
  overflow:hidden;
  background-size:100%;
}

.parallax{
  position:absolute;
}

.parallax-option{
  position:absolute; width:100%; height:100%;
}

/*
**************************
PORTFOLIO GRID
**************************
*/

.prev-next{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  padding-top:100px;
}

.prev-next a{
  color:black;
  font-weight:500;
  padding-bottom: 15px;
}

.prev-next a:hover{
  border-bottom:1px solid black;
}

.prev-button{
  width:50%;
  position:relative;
  float:left;
  text-align:left;
}

.next-button{
  width:50%;
  position:relative;
  float:left;
  text-align:right;
}


#ajax-content{width:100%;}

.portfolio-grid{
  width:90%;
  position:relative;
  /*margin: 30px auto;*/
  margin: 10px auto;
  overflow:hidden;
}

#portfolio-sidebar{
  width: 780px !important;
  padding-right: 390px;

}

li.grid-item{
  width:360px;
  position:relative;
  float:left;
  padding:15px;
}

.grid-hover{
  position: absolute;
  width:360px;
  height: 100%;
  top:0;
  background: white;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}


.grid-responsive{
  text-align:center;
  float: left;
  width: 33%;
}

.grid-hover:hover{
  opacity: 0.9;
}

.grid-hover .card-heading{
  /*font-size: 18px;
  top:20px;
  left:10px;*/

  font-size: 35px;
    top: 25px;
    left: 10px;

  /*bottom:80px;
  left:40px;*/
  position:absolute;
  text-transform:uppercase;
  color:#000000;
  letter-spacing:1px;
  font-weight:900;
  line-height:30px;
}

.grid-hover p{
  font-size:13px;
  bottom: 20px;
  left: 15px;
  position:absolute;
  /*color:#686868;*/
  color:#2f2e2e;
  letter-spacing:1px;
  font-weight:400;
  line-height:30px;
}

li.grid-item img{
  width:360px;
}

/*
**************************
FOOTER
**************************
*/

#footer-box{height:150px; margin-top:75px;}

footer{
  background: #f1f1f1;
  width:100%;
  margin-top:150px;
  height:300px;
  overflow:hidden;
  position:relative;
  z-index:10;
}

.footer-margin{
  width:1140px;
  margin: 30px auto;
  line-height: 100px;
}

#footer-left{text-align:center;}


.footer-margin .copyright{
  color: #686868;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  text-align:center;
  float: left;
}



.footer-margin .social-footer{
  color: #686868;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer a{
  font-size:15px;
  color:black;
  padding: 20px;
}

.footer-margin .social-footer a:hover{
  color:#c3c3c3;
}


/*
**************************
CONTACT
**************************
*/

.contact-one, .contact-two{
  width:30%;
  padding-right:3%;
  position:relative;
  float:left;
}

.contact-three{
  width:33%;
  position:relative;
  float:left;
}

.contact-one p, .contact-two p, .contact-three p{
  width:100% !important;
}

input{

  width:100%;
  height:40px;
  background:#f8f7f7;
  border:0;
  color:#000000;
  font-weight:500;
  line-height:40px;
  font-family: 'Raleway', sans-serif;
  margin-bottom:10px;
  font-size:13px;
  padding-left:15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input.button-submit{

  width:220px;
  height:40px;
  background:#f8f7f7;
  font-weight:500;
  border:0;
  font-family: 'Raleway', sans-serif;
  color:#000000;
  float:right;
  font-weight:900;
  line-height:40px;
  font-size:13px;
}

input:focus{
  background:#f4f4f4; 
}

textarea{

  width:100%;
  height:40px;
  border:0;
  line-height:40px;
  background:#f8f7f7;
  color:#000000;
  font-size:13px;
  font-family: 'Raleway', sans-serif;
  font-weight:500;
  margin-bottom:10px;
  padding:0 0 0 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

textarea:focus{background:#f4f4f4; height:250px;}

.person-name{
  font-weight: 800;
  font-size: 25px;
  padding:2px;
}

.person-position{
  font-weight: 500;
  font-size: 20px;
  padding:1px;
}

.grid-item img {
    border-radius: 7px;
    box-shadow: -13px 1px 19px -9px #888888;
}

.portfolio-grid .grid-responsive img {
    margin-bottom: 15px;
    box-shadow: -13px 1px 19px -9px #888888;
}

/*
**************************
HELPER CSS
**************************
*/

/*for centered content*/
.centered-text{
  text-align: center;
}

/* eXTRAS */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  margin-right: auto;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
