@media all and (min-width: 1180px) {
  ul.header-nav{
    /* width:50%; */
    display: block;
  
  }
  ul.social-icon{
    display: block;
  }


  .content .text-intro{
    width:1000px;
  }

  .footer-margin{
    width:1000px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:60%;
  }

  .indexLinks {
    display: inline-block
  }

  #full{
    width:1000px;
  }

  .prev-next{
    max-width:1000px;
  }


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 710px !important;
    padding-right: 320px;
  }

  .portfolio-grid{

    width:1030px;

  }
  .grid-responsive{
    margin-top: 10px;
    float: left;
  }

  div.grid-img{
    width: 312px;
    float: left;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:312px;
  }


}


@media all and (max-width: 1179px) and (min-width: 1024px) {

  .indexLinks {
    display: inline-block
  }

  ul.header-nav{
    /* width:50%; */
    display: block;
  
  }
  ul.social-icon{
    display: block;
  }

  header.boxed .header-margin{
    width:1024px;
  }

  .content .text-intro{
    width:800px;
  }

  .footer-margin{
    width:800px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:60%;
  }

  #full{
    width:800px;
  }

  .prev-next{
    max-width:800px;
  }


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 580px !important;
    padding-right: 250px;
  }

  .portfolio-grid{

    width:830px;

  }

  .grid-img{
    width: 246px;
    float: left;
  }
  .grid-responsive{
    margin-top: 10px;
    float: left;
    width: 246px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:246px;
  }

}


@media all and (max-width: 1023px) and (min-width: 769px) {

  .indexLinks {
    display: inline-block
  }

  ul.header-nav{
    /* width:50%; */
    display: block;
  
  }
  ul.social-icon{
    display: block;
  }

  header.boxed .header-margin{
    width:600px;
  }

  .content .text-intro{
    width:600px;
  }

  .footer-margin{
    width:600px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100%;
  }

  #full{
    width:600px;
  }

  .prev-next{
    max-width:600px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:630px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:630px;
  }

  div.grid-img{
    width: 282px;
    float: left;}

  .grid-responsive{
    margin-top: 10px;
    float: left;
    width: 315px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:285px;
  }

}



@media all and (max-width: 768px) and (min-width: 481px) {


  header.boxed .header-margin{
    width:400px;
  }

  .content .text-intro{
    width:400px;
  }

  .footer-margin{
    width:400px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100% !important;
  }

  #full{
    width:400px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    /* width:50%; */
    display: none;
  
  }
  ul.responsive.header-nav  {
    float: none;
    display: block;
    text-align: left;
  }
  
  li.hamberger-menu a.icon {
    display: block;
    color:#e7433a;
    font-size: 1.5rem;
    text-align: right;
    transform: translateX(70%);
  }
  

  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

  header.boxed{
    display:block !important;
  }  
  
  #footer-left{text-align:center;}

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-img{
    width: 430px;
    float: left;
  }
  .grid-responsive{
    margin-top: 10px;
    float: left;
    width:400px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:400px;
  }

}


@media all and (max-width: 480px) and (min-width: 260px) {

  ul.header-nav{
    /* width:50%; */
    display: none;
  
  }
  /* ul.responsive {position: relative;}
  ul.responsive.header-nav .icon {
    position: absolute;
    right: 0;
    top: 0;
  } */
  ul.responsive.header-nav  {
    float: none;
    display: block;
    text-align: left;
  }
  
  ul.responsive.header-nav li{
    width: 100vw;
    background: rgba(255, 255, 255, 0.959);
    left: 0;
  }

  ul.responsive.header-nav li a{
    color: black;
  }

  ul.social-icon li {
    display:none;
  }

  li.hamberger-menu a.icon {
    display: block;
    color:#e7433a;
    font-size: 1.5rem;
    transform: translateX(70%);
    padding-left: 15px;
    padding-right: 15px;
  }
  
  header.boxed .header-margin{
    width:100%;
  }
  .logo{
    margin-left: 10%;
  }
  .content .text-intro{
    width:280px;
  }

  .footer-margin{
    width:280px;
  }
  
  .footer-margin .copyright{line-height:40px;}

  .content .text-intro h1, .content .text-intro p{
    width:100% !important;
  }

  #full{
    width:280px;
    display:block !important;
  }
  
  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:280px;
  }
  
  .home-sidebar{
    display:none;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }
  
  input, textarea{
    padding:0;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  header.boxed{
    display:block;
  }  
  
  #footer-left{text-align:center;}
  
  .content .text-intro h1{
    font-size:33px; 
    line-height:50px;
  }

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:310px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:310px;
  }

  .grid-img{
    width: 280px;
    float: left;}
    
  .grid-responsive{
    margin-top: 10px;
    float: left;
    width: 280px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:280px;
  }

}
@media all and (max-width: 315px) and (min-width: 250px){
  .logo{
    margin-left: 4%;
  }
}